/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background: linear-gradient( #A8E6CF, #DCEDC1); /* Cor de fundo gelo */
    color: #333;
    padding-top: 70px; /* Espaço para não sobrepor o conteúdo abaixo do header */
  }
  
  .menu_inicial {
    padding: 20px;
  }

  /* Título da página */
  h2 {
    text-align: center;
    margin-top: 50px;
    color: #357a38;
  }
  
 .image_exemplo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    padding-bottom: 3%;
    overflow: hidden;
    
 }

 .div_exemplo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    overflow: hidden;
 }

 .div_botao_exemplo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3%;
 }

 .botao_exemplo{
    width: 150px;
     height: 50px;
}

.nossa_proposta {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

}

.sec_prop {
  width: 1600px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}

.proposta{
  display: flex;
  width: 900px;
  padding: 30px;
  margin: 20px;
  text-align: center;

}

.div_exemplo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}